<!-- Banner -->
<section id="banner">
  <div class="inner">
    <div [@logoLoad]="animationState" class="logo"><span class="icon fa-cloud"></span></div>
    <h2 [@h2Load]="animationState">James Glenn (WxWatch)</h2>
    <p [@pLoad]="animationState" class="logo social-links">
      <a href="https://github.com/wxwatch"><span class="icon fa-github"></span></a>
      <a href="https://twitter.com/maybeitsjames"><span class="icon fa-twitter"></span></a>
      <a href="https://linkedin.com"><span class="icon fa-linkedin"></span></a>
    </p>
  </div>
</section>